:root{
    --font:'Roboto', sans-serif;
}

.imagem-carrossel{
    height: 90vh;
    object-fit: cover;
}

.lista-informacoes{
    font: var(--font);
    list-style-type: none;
}

/* .img-funcionarias{
    max-height: 300px;
} */

.historias{
    display: flex;
    flex-direction: column;
}
.historia{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
    font: var(--font);
    font-size: 2rem;
}

.imagem-historia{
    max-height: 40vh;
    max-width: 35vw;
}


/* 
.img-funcionarias{
    width: 100%;
    height: 100%;
} */